@page "/recipes/add"
@page "/recipes/edit/{RecipeId:int}"
@using BlazorRecipes.Shared.Recipes
@using BlazorRecipes.Client.Services
@inject IRecipeService RecipeService

<h1>@(isEdit ? "Edit" : "Add") Recipe</h1>

<EditForm Model="@recipe" OnValidSubmit="SaveRecipe" class="row recipe-form">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="What are we making?" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Tell us about your recipe. Do you eat this often? Who will like this recipe?"></textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="image" accept=".jpg,.png,.gif">
    </div>
    <div class="mb-3">
        <label for="ingredients" class="form-label">Ingredients</label>
        <input type="text" class="form-control" id="ingredients" placeholder="Ingredient 1" />
    </div>
    <div class="mb-3">
        <label for="instructions" class="form-label">Instructions</label>
        <textarea class="form-control" id="instructions" rows="3" placeholder="Give others a step-by-step guide on how to follow your recipe."></textarea>
    </div>
    <div class="mb-3">
        <label for="prepTime" class="form-label">How long will it take to prep? <small>(in minutes)</small></label>
        <input type="number" class="form-control" id="prepTime" />
    </div>
    <div class="mb-3">
        <label for="cookTime" class="form-label">How long will it take to cook? <small>(in minutes)</small></label>
        <input type="number" class="form-control" id="cookTime" />
    </div>
    <div class="mb-3">
        <label for="totalTime" class="form-label">Total Time <small>(in minutes)</small></label>
        <input type="number" class="form-control" id="totalTime" disabled="disabled" />
    </div>
    <div class="mb-3">
        <label for="servings" class="form-label">Estimated Servings <small>(in minutes)</small></label>
        <input type="number" class="form-control" id="servings" min="1" max="10" />
    </div>
</EditForm>

@code {
    [Parameter]
    public int RecipeId { get; set; }

    private Recipe recipe = new();

    private bool isEdit;

    protected override async Task OnParametersSetAsync()
    {
        isEdit = RecipeId != 0;
        
        if (isEdit)
        {
            var existingRecipe = await RecipeService.GetRecipeById(RecipeId);
            
            if (existingRecipe != null)
                recipe = existingRecipe;
        }
    }

    protected async Task SaveRecipe()
    {
        await RecipeService.AddOrUpdateRecipeAsync(recipe);
    }
}
