@page "/"

<PageTitle>BlazorRecipes</PageTitle>

<div class="row text-center">
    <div class="col">
        <h1>Welcome to Blazor Recipes!</h1>

        <p>This app was built using .NET Blazor, EF Core, SQL Server and Azure. Please login to add recipes and help me learn how to cook!</p>

        <a href="recipes/add" class="btn btn-primary">Create your first recipe</a>
        <a href="recipes" class="btn btn-primary">Browse our library of existing recipes</a>
    </div>
</div>

<hr />

<div class="row text-center">
    <div class="col">
        <RecipesList HideToolbar="true" />
    </div>
</div>
