@using BlazorRecipes.Shared.Recipes

@if (Instructions == null)
{
    <Spinner />
}
else
{
    foreach (var instruction in Instructions)
    {
        <div class="mb-3">
            <InputText @bind-Value="instruction.Text" @onblur="OnValueChanged" class="form-control" id="instructions" />
        </div>
    }

    <div class="mb-3">
        <button type="button" class="btn btn-sm btn-primary" @onclick="AddInstructionAsync">
            <span class="oi oi-plus" aria-hidden="true"></span> Add Instruction
        </button>
    </div>
}

@code {
    [Parameter]
    public ICollection<Instruction>? Instructions { get; set; } = new List<Instruction>();

    [Parameter]
    public EventCallback<ICollection<Instruction>> InstructionsChanged { get; set; }

    private async Task AddInstructionAsync(EventArgs args)
    {
        Instructions?.Add(new Instruction());

        await InstructionsChanged.InvokeAsync(Instructions);
    }

    private async Task OnValueChanged()
    {
        await InstructionsChanged.InvokeAsync(Instructions);
    }
}
